* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(225deg, #2d5f04, #14772d, #62b169);
  background-repeat: no-repeat;
  height: 100vh;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
  border-radius: 20px;
  width: 80vw;
  height: 100px;
  margin: 20px auto 10px;
  background: linear-gradient(-135deg, #2d5f04, #14772d, #62b169);
  box-shadow: 0 0 5px 0.5px black;
}
#box1 {
  width: 35%;
}
#box1 img {
  width: 70px;
  height: auto;
  border: 1px solid black;
  border-radius: 100%;
  box-shadow: 0.5px 0.5px 2px 1px black;
  vertical-align: middle;
}
#box2 {
  color: white;
  text-align: left;
}
#box2 h3 {
  padding-bottom: 13px;
  font-size: 12px;
}
#texto-informacion {
  font-size: 8px;
  line-height: 11px;
  padding: 0 0 0 12px;
}
#lista {
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  background-color: #74942a;
  border: 1px solid black;
  text-align: center;
}
#lista li {
  width: 100%;
  border-left: 1px solid black;
}
.item {
  text-decoration: none;
  display: block;
  padding: 8px;
  color: white;
}
.item:hover {
  border-left: 2px solid #034d09;
  box-shadow: inset 3px 0px 8px 0px #034d09;
}
.item:focus {
  background-color: #3c500e;
}

.section {
  display: none;
}
#bienvenida p {
  padding: 25px;
  width: 80%;
}
.section h3 {
  color: white;
  margin: 10px 10px 30px;
}
#lenguajes {
  color: white;
  padding: 10px;
  font-size: 0.8em;
  line-height: 1.4em;
}
.visible {
  display: block;
  width: 100vw;
}
.section div {
  width: 90vw;
  margin: 15px auto 30px;
  background-color: #3c500e41;
  border-radius: 20px;
  box-shadow: 1px 1px 2px 1px black;
  padding: 5px 1px 5px 10px;
  text-align: center;
}

.section p {
  text-align: justify;
  line-height: 14px;
  color: white;
  width: 95%;
  padding: 4px 0px;
  font-size: 0.7em;
}
.section a {
  text-decoration: none;
}
.section a:hover {
  text-decoration: underline;
}
.section a:visited {
  color: blue;
}
.section2 figure {
  margin-top: 20px;
}
.section2 img {
  background-color: rgba(102, 152, 209, 0.342);
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px 1px;
  box-shadow: 0.5px 0.5px 1px 0.5px black;
  margin: 6px;
  width: 60px;
  height: auto;
}
footer p {
  position: fixed;
  bottom: 0px;
  padding: 5px;
  width: 100vw;
  height: 10px;
  background-color: #3c500e;
  text-align: center;
  color: white;
  font-size: 8px;
  font-style: italic;
}
