@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
}
:root {
  --color1: #3c40a4;
  --color2: #4d68f0;
  --color3: #8697fe;
  --color4: #003567;
  --color5: #119e99;
}
html {
  scroll-snap-type: y mandatory;
}
body {
  background: linear-gradient(
    45deg,
    var(--color3),
    var(--color2),
    var(--color1)
  );
  background-repeat: no-repeat;
  overflow-x: hidden;
}
.box {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 1px black;
}

/* ---------- Comienza el header ----------- */
header {
  width: 80vw;
  height: 200px;
  margin: 60px auto 10px 10px;
  background: var(--color4);
  z-index: -2;
}
#svg {
  position: absolute;
  top: 10vh;
  z-index: -1;
}
#white {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20vh;
  background: white;
}
/* --------- clip con foto ---------- */
#box1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 450px;
  background: linear-gradient(
    135deg,
    var(--color1) 0%,
    var(--color4) 30%,
    var(--color2) 60%
  );
  clip-path: ellipse(210px 190px at 10% 20%);
  z-index: 2;
  scroll-snap-align: start;
}
#inicio {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 450px;
  background: #ffffffe5;
  clip-path: ellipse(212px 192px at 10% 20%);
  z-index: 1;
}
#box1 img {
  position: relative;
  top: 20px;
  left: 20px;
  width: 180px;
  border-radius: 50%;
}
/* ------------ Bienvenida --------------- */

#box2 {
  margin: 0 0 0 24vw;
  width: 53vw;
}
header h3 {
  margin: 0 0 15px 33vw;
  width: 26vw;
  height: 5vw;
  font-size: 5vw;
  font-family: "Akaya Telivigala", cursive;
  font-weight: lighter;
  border-bottom: 2.5px solid white;
}
.texto-informacion {
  padding: 5px 6px 3px;
  font-size: calc(0.3em + 0.9vw);
}

/* ------------- Menu ------------- */

#lista {
  display: flex;
  position: fixed;
  text-align: center;
  top: 0;
  margin: 0px 0px 0px 300px;
  width: 60vw;
  font-size: 0.9em;
  list-style: none;
  border: 1px solid white;
}
#lista li {
  width: 100%;
  border-left: 1px solid white;
}
.item {
  text-decoration: none;
  display: block;
  padding: 4px 5px 6px;
  background: var(--color4);
}
.item:hover {
  box-shadow: inset 3px 0px 8px 0px white;
  background-color: var(--color5);
}

/* ----- Cambio de Temas ------ */
#temas {
  display: none; /* flex */
  position: fixed;
  flex-wrap: wrap;
  top: 35px;
  right: 15px;
  justify-content: space-evenly;
  width: 9vw;
  background: var(--color3);
  z-index: 5;
}

.theme-box {
  width: 3vw;
  height: 3vw;
  margin: 5px;
}
#tema-default {
  background-color: #003567;
}
#tema-rojo {
  background-color: #761622;
}
#tema-verde {
  background-color: #356600;
}

#tema-gris {
  background-color: #708090;
}

/* ---------- Comienza el main --------------- */

.section {
  height: 100vh;
  background: linear-gradient(
    -45deg,
    var(--color3),
    var(--color2),
    var(--color1)
  );
  scroll-snap-align: start;
}
.div_section {
  position: relative;
  top: 10vh;
  width: 75vw;
  position: relative;
  top: 8vh;
  left: 6vw;
  margin: 0px 0px 10vh 0px;
  background: var(--color4);
}
.div_section p {
  width: 95%;
  font-size: 0.9em;
  line-height: 1.3em;
  padding: 5px 15px;
}

/* ---------- Seccion 1: Presentacion ---------- */

#presentacion {
  margin: 62vh 0 0 0;
}

#programas {
  display: flex;
  justify-content: space-evenly;
}

.logo-section1 {
  display: block;
  margin: 10px auto;
  height: 20%;
}
.div_programas {
  width: 25vw;
  height: 27vw;
  padding: 0px 10px 0 20px;
  background: var(--color5);
  line-height: 1.5em;
  font-size: 1.3vw;
}
.link-section1 {
  text-decoration: none;
  font-weight: bolder;
}
.link-section1:hover {
  text-decoration: underline;
}
.link-section1:visited {
  color: var(--color1);
}

/* ---------- Section 2 ---------- */
#lenguajes {
  scroll-snap-align: start;
}

.leng {
  float: left;
  width: 22vw;
  height: auto;
  font-size: calc(0.1em + 1vw);
  line-height: 1.5em;
  padding: 7px;
  margin: 0.8vh;
  background: var(--color5);
  text-align: justify;
}
#box-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.logo-section2 {
  float: left;
  margin: 1px 9px 2px 1px;
  padding: 5px 2px 3px;
  height: 4vw;
  background: white;
  border: 1px solid black;
  border-radius: 10px;
}

/* ---------- Section 3 ---------- */
#proyectos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  scroll-snap-align: start;
}
#div-section3 {
  display: flex;
  flex-direction: column;
  float: left;
  width: 27vw;
  padding: 0;
  height: auto;
  margin: 7vh auto 10px;
  background: var(--color4);
}
#div-section3 p {
  text-align: justify;
  font-size: calc(0.2em + 1vw);
  line-height: 1.3em;
  padding: 10px 15px;
}

/* ------------ Iframes --------------- */
.container {
  width: 70vw;
  height: 80vh;
  overflow: hidden;
  position: relative;
  top: 7vh;
}
.slide {
  display: flex;
  align-items: center;
  width: 100%;
  height: inherit;
}

.iframe {
  width: 100%;
  height: 80vh;
  border: 2px solid #5f5f5f;
  box-shadow: 0px 0px 2px 1px #5f5f5f;
}

.slide i {
  display: flex;
  align-items: center;
  width: 2vw;
  height: 175px;
  margin: 0px 3px;
  background-color: #ffffff80;
  border: 1px solid #464646;
}
i.left {
  border-radius: 10px 0px 0px 10px;
}
i.right {
  border-radius: 0px 10px 10px 0px;
}
.slide i img {
  width: 2vw;
  height: auto;
  padding: 100px 0px;
  border-radius: 5px;
}
.slide i:hover {
  height: 300px;
}
.ul_menu {
  width: 50vw;
}
.menu {
  display: flex;
  float: right;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}
.menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.li {
  text-align: center;
  text-decoration: none;
  margin: 30px 4px 5px 6px;
  padding: 5px;
  width: 20px;
  height: 20px;
  background: var(--color4);
  border-radius: 50%;
}
.links {
  font-size: 12px;
  text-decoration: none;
}
.links:hover {
  text-decoration: underline;
}
/* ---------------Seccion 4---------------- */
#contacto {
  height: 93vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#contact_container {
  display: flex;
  flex-direction: column;
  margin: 45px 0px 0px;
  text-align: justify;
  background: var(--color4);
  width: 60vw;
  height: 80vh;
}
#div-section4 {
  width: 100%;
  height: auto;
}
#h3_s4 {
  width: 35vw;
  font-size: calc(0.2em + 2.5vw);
  text-align: center;
  font-family: "Akaya Telivigala", cursive;
  border-bottom: 2.5px solid white;
  margin: 5px auto 10px;
}
#div-section4 p {
  padding: 5px 20px;
  font-size: calc(0.5em + 0.7vw);
}
.contact_content {
  width: 100%;
  height: auto;
}

#form {
  display: flex;
  flex-direction: column;
  width: 96%;
  margin: 15px auto 0px;
  text-align: right;
  font-size: calc(0.4em + 0.7vw);
}
.name {
  padding: 5px;
  text-align: left;
}
.text {
  width: 70%;
  margin-left: 12%;
  text-align: justify;
  padding: 5px 20px;
  color: black;
}
#name {
  height: 20px;
}
#mensaje {
  height: 70px;
}
#email {
  opacity: 0;
}
.text::placeholder {
  text-align: center;
  width: 50%;
  padding: 10px 25%;
}
#enviar {
  width: 20%;
  height: 40px;
  background: var(--color5);
  margin: 5px auto;
}
#enviar:hover {
  box-shadow: inset 0px 0px 6px 1px black;
}

#formulario {
  width: 35vw;
  height: 84vh;
  background: var(--color5);
  display: flex;
  float: right;
  margin: 35px 0px 0px;
  overflow-y: hidden;
}
#form_goo {
  width: auto;
  height: 90vh;
}

/* -------------------- Footer ---------------------- */
#foot {
  display: flex;
  float: left;
  justify-content: space-evenly;
  width: 100vw;
  height: 7vh;
  box-sizing: border-box;
  align-items: center;
  background-color: var(--color4);
}
#foot p {
  font-size: calc(0.2em + 1vw);
}
.icon {
  display: flex;
  align-items: center;
}
#foot a:visited {
  color: white;
}
