@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
}
:root {
  --color1: #3c40a4;
  --color2: #4d68f0;
  --color3: #8697fe;
  --color4: #003567;
  --color5: #119e99;
  --text-color1: white;
  --text-color2: black;
}
html {
  scroll-snap-type: y mandatory;
}
body {
  background: linear-gradient(
    45deg,
    var(--color3),
    var(--color2),
    var(--color1)
  );
  background-repeat: no-repeat;
  height: 90vh;
  overflow-x: hidden;
}

/* ---------- Comienza el header ----------- */
header {
  width: 80vw;
  height: 200px;
  margin: 60px auto 10px 10px;
  background: var(--color4);
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0 0 5px 0.5px black;
  z-index: -2;
}
#svg {
  position: absolute;
  top: 24vh;
  z-index: -1;
}
/* --------- clip con foto ---------- */
#box1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 450px;
  background: linear-gradient(
    135deg,
    var(--color1) 0%,
    var(--color4) 30%,
    var(--color2) 60%
  );
  clip-path: ellipse(210px 190px at 10% 20%);
  z-index: 2;
  scroll-snap-align: start;
}
#box-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 450px;
  background: rgba(255, 255, 255, 0.897);
  clip-path: ellipse(212px 192px at 10% 20%);
  z-index: 1;
}
#box1 img {
  position: relative;
  top: 20px;
  left: 20px;
  width: 180px;
  border: 1px solid black;
  border-radius: 100%;
  box-shadow: 0.5px 0.5px 2px 1px black;
}
/* ------------ Bienvenida --------------- */

#box2 {
  margin: 0 0 0 24vw;
  width: 53vw;
  color: white;
}
header h3 {
  margin: 0 0 15px 33vw;
  width: 22vw;
  height: 5vw;
  color: white;
  font-size: 5vw;
  font-family: "Akaya Telivigala", cursive;
  font-weight: lighter;
  border-bottom: 2.5px solid white;
}
.texto-informacion {
  padding: 5px 6px 3px;
  font-size: calc(0.3em + 0.9vw);
  font-family: "Montserrat", sans-serif;
}

/* ----- Comienza la lista ------ */

#lista {
  display: flex;
  position: fixed;
  text-align: center;
  top: 0;
  margin: 0px 0px 0px 400px;
  width: 50vw;
  color: white;
  font-size: 0.9em;
  list-style: none;
  border: 1px solid white;
}
#lista li {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  border-left: 1px solid white;
}
.item {
  text-decoration: none;
  display: block;
  padding: 4px 5px 6px;
  color: white;
  background: var(--color4);
}
.item:hover {
  box-shadow: inset 3px 0px 8px 0px white;
}
.item:focus {
  background-color: var(--color5);
}
/* ---------------------- */

/* ----- Cambio de Temas ------ */
#temas {
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  top: 35px;
  right: 15px;
  justify-content: space-evenly;
  width: 13vw;
  background-color: var(--color3);
  border-radius: 8px;
  box-shadow: 1px 1px 2px 1px black;
  z-index: 5;
}

.theme-box {
  width: 3vw;
  height: 3vw;
  margin: 3% 4%;
  border-radius: 20%;
  border: 0.5px solid black;
  box-shadow: 0.7px 0.7px 2px 1px rgba(0, 0, 0, 0.562);
}
#tema-default {
  background-color: #003567;
}
#tema-rojo {
  background-color: red;
}
#tema-verde {
  background-color: green;
}
#tema-claro {
  background-color: white;
}
#tema-oscuro {
  background-color: black;
}

/* ----- Inicia el contenido del Main */

.section {
  height: 100vh;
  background: linear-gradient(
    -45deg,
    var(--color3),
    var(--color2),
    var(--color1)
  );
  scroll-snap-align: start;
}

/* ---------- Section 1 ---------- */

#presentacion {
  margin: 100vh 0 0 0;
}

#div-section1 {
  width: 66vw;
  position: relative;
  top: 10vh;
  left: 17vw;
  margin: 0px 0px 80px 0px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 0 5px 0.5px black;
  background: var(--color4);
}
#div-section1 p {
  width: 95%;
  color: var(--text-color1);
  font-size: 0.9em;
  line-height: 1.3em;
  padding: 5px 15px;
  font-family: "Montserrat", sans-serif;
}
#programas {
  display: flex;
  justify-content: space-evenly;
}

.logo-section1 {
  display: block;
  margin: 10px auto;
  height: 20%;
}
#programas p {
  width: 25vw;
  height: 27vw;
  padding: 0px 10px 0 20px;
  background: var(--color5);
  color: white;
  line-height: 1.5em;
  font-size: 1.3vw;
  font-family: "Montserrat", sans-serif;
  border: 0.5px solid black;
  border-radius: 25px;
  box-shadow: 1px 1px 2px 0.5px black;
}
.link-section1 {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
.link-section1:hover {
  text-decoration: underline;
}
.link-section1:visited {
  color: var(--color1);
}

/* ---------- Section 2 ---------- */
#div-section2 {
  width: 75vw;
  position: relative;
  top: 9vh;
  left: 6vw;
  margin: 0px 10px 5vw 0px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 0 5px 0.5px black;
  background: var(--color4);
}
#div-section2 p {
  align-items: center;
  width: 95%;
  font-size: 0.9em;
  color: var(--text-color1);
  line-height: 1.3em;
  padding: 5px 15px;
  font-family: "Montserrat", sans-serif;
}
#box-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.logo-section2 {
  float: left;
  margin: 2px 9px 2px 1px;
  padding: 5px 2px 3px;
  height: 4vw;
  background: white;
  border: 0.5px solid black;
  border-radius: 10%;
  box-shadow: 1px 1px 2px 0.5px black;
}
#box-logos p {
  float: left;
  width: 21vw;
  height: 14vw;
  margin: 0.6vw;
  padding: 10px 10px 0px;
  background: var(--color5);
  color: white;
  line-height: 1.5em;
  font-size: 1.2vw;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  border: 0.5px solid black;
  border-radius: 25px;
  box-shadow: 1px 1px 2px 0.5px black;
}

footer p {
  bottom: 0px;
  padding: 5px;
  width: 100vw;
  height: 10px;
  background-color: #3c500e;
  text-align: center;
  color: white;
  font-size: 8px;
  font-style: italic;
}
